In [1]:
%load_ext sql
%sql sqlite:///PP1.db

In [2]:
%%sql
SELECT COUNT(*)
FROM Users;

 * sqlite:///PP1.db
Done.

[(13422,)]

In [3]:
%%sql
SELECT count(*)
FROM Users
WHERE Location = 'New York';

 * sqlite:///PP1.db
Done.

[(80,)]

In [14]:
%%sql
SELECT COUNT(ItemID)
FROM (SELECT ItemID, COUNT(CategoryID) AS cat_count
	  FROM CategoryInfos
	  GROUP BY ItemID)
WHERE cat_count == 4;

 * sqlite:///PP1.db
Done.

[(8365,)]

In [15]:
%%sql
SELECT ItemID
FROM Items
ORDER BY Currently DESC
LIMIT 1;

 * sqlite:///PP1.db
Done.

[(1046871451,)]

In [16]:
%%sql
SELECT COUNT(*)
FROM Users
WHERE isSeller = 1 AND Rating > 1000;

 * sqlite:///PP1.db
Done.

[(3130,)]

In [17]:
%%sql
SELECT COUNT(*)
FROM Users
WHERE isSeller = 1 AND isBidder = 1;

 * sqlite:///PP1.db
Done.

[(6717,)]

In [24]:
%%sql
SELECT COUNT(ItemID)
FROM Items
WHERE ItemID EXISTS (SELECT ItemID
    FROM Items
    WHERE Currently > 100);

 * sqlite:///PP1.db
(sqlite3.OperationalError) near "EXISTS": syntax error
[SQL: SELECT COUNT(ItemID) FROM Items
WHERE ItemID EXISTS (SELECT ItemID
    FROM Items
    WHERE Currently > 100);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)