In [1]:
%load_ext sql
%sql sqlite:///PP1.db

In [2]:
%%sql
SELECT COUNT(*)
FROM Users;

 * sqlite:///PP1.db
Done.

[(13422,)]

In [3]:
%%sql
SELECT COUNT(*)
FROM Users
WHERE Location = 'New York';

 * sqlite:///PP1.db
Done.

[(80,)]

In [4]:
%%sql
SELECT COUNT(ItemID)
FROM (SELECT ItemID, COUNT(CategoryID) AS cat_count
	  FROM ItemCategories
	  GROUP BY ItemID)
WHERE cat_count == 4;

 * sqlite:///PP1.db
Done.

[(8365,)]

In [5]:
%%sql
SELECT ItemID
FROM Items
WHERE CURRENTLY = (SELECT MAX(CURRENTLY)
				   FROM Items);

 * sqlite:///PP1.db
Done.

[(1046871451,)]

In [6]:
%%sql
SELECT COUNT(*)
FROM Users
WHERE isSeller = 1 AND Rating > 1000;

 * sqlite:///PP1.db
Done.

[(3130,)]

In [7]:
%%sql
SELECT COUNT(*)
FROM Users
WHERE isSeller = 1 AND isBidder = 1;

 * sqlite:///PP1.db
Done.

[(6717,)]

In [8]:
%%sql
SELECT COUNT(*)
FROM (
        SELECT ItemCategories.CategoryID
        FROM ItemCategories,
            Bids
        WHERE ItemCategories.ItemID = Bids.ItemID
        GROUP BY ItemCategories.CategoryID
        HAVING MAX(Bids.Amount) > 100
    );

 * sqlite:///PP1.db
Done.

[(150,)]